body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.nav-height {
    height: 60px !important;
}

.auto-height {
    height: auto !important;
}

.float-margin {
    margin-right: 3px
}

.avatar-circle {
    margin-top: 1px;
    margin-bottom: 1px;
}

.reply {
    margin-top: 10px;
    background-color: #f8f8f8;
    padding: 10px 10px 10px 10px !important;
}

.star-badge {
    margin-top: 0px;
    min-width: 24px;
    text-align: center;
    font-size: 1rem;
    line-height: 24px;
    height: 24px;
    color: #757575;
    float: right;
    box-sizing: border-box;
    display: inline-block;
}