body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.nav-height {
    height: 60px !important;
}

.tyblue {
    background-color: #66ccff !important;
}

.tyblue-dark {
    background-color: #4dc4ff !important;
}